---
layout: page
title: 分类
header: Posts By Category
group: navigation
---
{% include JB/setup %}

<ul class="tag_box inline">
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}
</ul>


{% for category in site.categories %} 
<!-- <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2> -->
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h4></div>
  <!-- <ul> -->
  <ul class="list-group">
    {% assign pages_list = category[1] %}  
    {% include JB/pages_list %}
  </ul>
</div>
  {% endfor %}



  <!-- List group -->
  <!-- <li class="list-group-item">Vestibulum at eros</li> -->

